In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\kiran\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\kiran\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('Salary_Data.csv')

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
type(spark)

pyspark.sql.session.SparkSession

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('Salary_Data.csv')

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [10]:
df_pyspark.show()

+---------------+--------+
|            _c0|     _c1|
+---------------+--------+
|YearsExperience|  Salary|
|            1.1|39343.00|
|            1.3|46205.00|
|            1.5|37731.00|
|            2.0|43525.00|
|            2.2|39891.00|
|            2.9|56642.00|
|            3.0|60150.00|
|            3.2|54445.00|
|            3.2|64445.00|
|            3.7|57189.00|
|            3.9|63218.00|
|            4.0|55794.00|
|            4.0|56957.00|
|            4.1|57081.00|
|            4.5|61111.00|
|            4.9|67938.00|
|            5.1|66029.00|
|            5.3|83088.00|
|            5.9|81363.00|
+---------------+--------+
only showing top 20 rows

In [16]:
# Read the dataset
df_pyspark = spark.read.option('header','true').csv('Salary_Data.csv', inferSchema=True)

In [17]:
df_pyspark.show()

+---------------+-------+
|YearsExperience| Salary|
+---------------+-------+
|            1.1|39343.0|
|            1.3|46205.0|
|            1.5|37731.0|
|            2.0|43525.0|
|            2.2|39891.0|
|            2.9|56642.0|
|            3.0|60150.0|
|            3.2|54445.0|
|            3.2|64445.0|
|            3.7|57189.0|
|            3.9|63218.0|
|            4.0|55794.0|
|            4.0|56957.0|
|            4.1|57081.0|
|            4.5|61111.0|
|            4.9|67938.0|
|            5.1|66029.0|
|            5.3|83088.0|
|            5.9|81363.0|
|            6.0|93940.0|
+---------------+-------+
only showing top 20 rows

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.printSchema()

root
 |-- YearsExperience: double (nullable = true)
 |-- Salary: double (nullable = true)

In [20]:
#another way to read dataset
df_pyspark = spark.read.csv('Salary_Data.csv',header=True, inferSchema=True)
df_pyspark.show()

+---------------+-------+
|YearsExperience| Salary|
+---------------+-------+
|            1.1|39343.0|
|            1.3|46205.0|
|            1.5|37731.0|
|            2.0|43525.0|
|            2.2|39891.0|
|            2.9|56642.0|
|            3.0|60150.0|
|            3.2|54445.0|
|            3.2|64445.0|
|            3.7|57189.0|
|            3.9|63218.0|
|            4.0|55794.0|
|            4.0|56957.0|
|            4.1|57081.0|
|            4.5|61111.0|
|            4.9|67938.0|
|            5.1|66029.0|
|            5.3|83088.0|
|            5.9|81363.0|
|            6.0|93940.0|
+---------------+-------+
only showing top 20 rows

In [21]:
df_pyspark.printSchema()

root
 |-- YearsExperience: double (nullable = true)
 |-- Salary: double (nullable = true)

In [23]:
df_pyspark.columns

['YearsExperience', 'Salary']

In [24]:
df_pyspark.head(5)

[Row(YearsExperience=1.1, Salary=39343.0),
 Row(YearsExperience=1.3, Salary=46205.0),
 Row(YearsExperience=1.5, Salary=37731.0),
 Row(YearsExperience=2.0, Salary=43525.0),
 Row(YearsExperience=2.2, Salary=39891.0)]

In [25]:
#Select columns
df_pyspark.select('Salary').show()

+-------+
| Salary|
+-------+
|39343.0|
|46205.0|
|37731.0|
|43525.0|
|39891.0|
|56642.0|
|60150.0|
|54445.0|
|64445.0|
|57189.0|
|63218.0|
|55794.0|
|56957.0|
|57081.0|
|61111.0|
|67938.0|
|66029.0|
|83088.0|
|81363.0|
|93940.0|
+-------+
only showing top 20 rows

In [29]:
df_pyspark.dtypes

[('YearsExperience', 'double'), ('Salary', 'double')]

In [32]:
df_pyspark.describe().show()

+-------+------------------+------------------+
|summary|   YearsExperience|            Salary|
+-------+------------------+------------------+
|  count|                30|                30|
|   mean|5.3133333333333335|           76003.0|
| stddev| 2.837888157662718|27414.429784582302|
|    min|               1.1|           37731.0|
|    max|              10.5|          122391.0|
+-------+------------------+------------------+

In [38]:
## Adding columns in data frame
df_pyspark = df_pyspark.withColumn('Experience After 2 years',df_pyspark['YearsExperience']+2)

In [39]:
df_pyspark.show()

+---------------+-------+------------------------+
|YearsExperience| Salary|Experience After 2 years|
+---------------+-------+------------------------+
|            1.1|39343.0|                     3.1|
|            1.3|46205.0|                     3.3|
|            1.5|37731.0|                     3.5|
|            2.0|43525.0|                     4.0|
|            2.2|39891.0|                     4.2|
|            2.9|56642.0|                     4.9|
|            3.0|60150.0|                     5.0|
|            3.2|54445.0|                     5.2|
|            3.2|64445.0|                     5.2|
|            3.7|57189.0|                     5.7|
|            3.9|63218.0|                     5.9|
|            4.0|55794.0|                     6.0|
|            4.0|56957.0|                     6.0|
|            4.1|57081.0|                     6.1|
|            4.5|61111.0|                     6.5|
|            4.9|67938.0|                     6.9|
|            5.1|66029.0|                     7.1|
|            5.3|83088.0|                     7.3|
|            5.9|81363.0|                     7.9|
|            6.0|93940.0|                     8.0|
+---------------+-------+------------------------+
only showing top 20 rows

In [41]:
## Drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 years')

In [42]:
df_pyspark.show()

+---------------+-------+
|YearsExperience| Salary|
+---------------+-------+
|            1.1|39343.0|
|            1.3|46205.0|
|            1.5|37731.0|
|            2.0|43525.0|
|            2.2|39891.0|
|            2.9|56642.0|
|            3.0|60150.0|
|            3.2|54445.0|
|            3.2|64445.0|
|            3.7|57189.0|
|            3.9|63218.0|
|            4.0|55794.0|
|            4.0|56957.0|
|            4.1|57081.0|
|            4.5|61111.0|
|            4.9|67938.0|
|            5.1|66029.0|
|            5.3|83088.0|
|            5.9|81363.0|
|            6.0|93940.0|
+---------------+-------+
only showing top 20 rows

In [43]:
## Rename the columns
df_pyspark.withColumnRenamed('Salary','earnings').show()
#not an inplace operation

+---------------+--------+
|YearsExperience|earnings|
+---------------+--------+
|            1.1| 39343.0|
|            1.3| 46205.0|
|            1.5| 37731.0|
|            2.0| 43525.0|
|            2.2| 39891.0|
|            2.9| 56642.0|
|            3.0| 60150.0|
|            3.2| 54445.0|
|            3.2| 64445.0|
|            3.7| 57189.0|
|            3.9| 63218.0|
|            4.0| 55794.0|
|            4.0| 56957.0|
|            4.1| 57081.0|
|            4.5| 61111.0|
|            4.9| 67938.0|
|            5.1| 66029.0|
|            5.3| 83088.0|
|            5.9| 81363.0|
|            6.0| 93940.0|
+---------------+--------+
only showing top 20 rows

In [44]:
df_pyspark.show()

+---------------+-------+
|YearsExperience| Salary|
+---------------+-------+
|            1.1|39343.0|
|            1.3|46205.0|
|            1.5|37731.0|
|            2.0|43525.0|
|            2.2|39891.0|
|            2.9|56642.0|
|            3.0|60150.0|
|            3.2|54445.0|
|            3.2|64445.0|
|            3.7|57189.0|
|            3.9|63218.0|
|            4.0|55794.0|
|            4.0|56957.0|
|            4.1|57081.0|
|            4.5|61111.0|
|            4.9|67938.0|
|            5.1|66029.0|
|            5.3|83088.0|
|            5.9|81363.0|
|            6.0|93940.0|
+---------------+-------+
only showing top 20 rows