<a href="https://colab.research.google.com/github/ChitraChaudhari/GC_DataEngineering_Bootcamp/blob/main/EDA/More_on_DataFrames_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#More on DataFrames

#Problem
This is an open dataset from the City of Detroit.  The data is already imported into a DataFrame using Pandas.
Please complete the below exercises

In [1]:
import pandas as pd

detroit_demolitions = pd.read_csv('https://storage.googleapis.com/mbcc/datasets/Detroit_Demolitions_withColumns.csv',
                        parse_dates=[4])
detroit_demolitions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12227 entries, 0 to 12226
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              12227 non-null  object
 1   Parcel ID            12227 non-null  object
 2   Contractor Name      12227 non-null  object
 3   Price                12227 non-null  object
 4   Demolition Date      12227 non-null  datetime64[ns]
 5   Commercial Building  12227 non-null  object
 6   Council_District     12227 non-null  int64
 7   Latitude             12227 non-null  float64
 8   Longitude            12227 non-null  float64
 9   Location             12227 non-null  object
 10  Neighborhood         12227 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 1.0+ MB

#Exercise 1
This dataset has column names that have spaces. Clean the column names by **replacing** all **spaces** with an **underscore** '_'  also convert them to **lower case**

In [2]:
#Your code goes here
detroit_demolitions.columns = detroit_demolitions.columns.str.replace(" ", "_").str.lower()

detroit_demolitions.columns

Index(['address', 'parcel_id', 'contractor_name', 'price', 'demolition_date',
       'commercial_building', 'council_district', 'latitude', 'longitude',
       'location', 'neighborhood'],
      dtype='object')

In [3]:
#TestCase
clean_columns = pd.Index(['address', 'parcel_id', 'contractor_name', 'price', 'demolition_date',
       'commercial_building', 'council_district', 'latitude', 'longitude',
       'location', 'neighborhood'])
pd.testing.assert_index_equal(detroit_demolitions.columns, clean_columns)
print("Test passed!")

Test passed!

##Exercise 2:
By running the head function you notice that the 'price' column has \$ symbol and hence is assigned an Object type instead of an integer. 

Strip the $ symbol and convert the datatype to numeric.

In [4]:
detroit_demolitions.head()

,address,parcel_id,contractor_name,price,demolition_date,commercial_building,council_district,latitude,longitude,location,neighborhood
0,19493 Concord,15011348.,MCM,$12530.82,2014-08-07,No,3,42.438562,-83.033366,"19493 Concord\n(42.438562, -83.033366)",Nortown
1,10 W Arizona,01004588.,Rickman Enterprise Group,$13630.00,2016-03-08,No,2,42.419302,-83.102320,"10 W Arizona\n(42.419302, -83.10232)",Grixdale Farms
2,100 Marston,01002314.,ABC Demolition,$14300.00,2014-07-25,No,5,42.375327,-83.074438,"100 Marston\n(42.375327, -83.074438)",North End
3,1000 Baldwin,17011063.,DMC Consultants,$18687.40,2014-04-16,No,5,42.352273,-82.999264,"1000 Baldwin\n(42.352273, -82.999264)",Islandview
4,10005 Mansfield,22057965.,"Adamo Group, Inc.",$8950.00,2016-07-12,No,7,42.369223,-83.203769,"10005 Mansfield\n(42.369223, -83.203769)",Joy Community

In [5]:
#Your code goes here
detroit_demolitions['price']=detroit_demolitions['price'].str.lstrip('$').astype(float)

In [6]:
detroit_demolitions['price'][1]

13630.0

In [7]:
#TestCase
assert(detroit_demolitions['price'].dtype == float)
print("Test passed!")

Test passed!

## Exercise 3

Drop column 'location'; it is redundant as the same information is available in address, latitude, longitude columns.

In [8]:
#Your code goes here
detroit_demolitions.drop(axis=1,columns='location',inplace=True)
detroit_demolitions.iloc[1]

address                            10 W Arizona
parcel_id                             01004588.
contractor_name        Rickman Enterprise Group
price                                   13630.0
demolition_date             2016-03-08 00:00:00
commercial_building                          No
council_district                              2
latitude                              42.419302
longitude                             -83.10232
neighborhood                     Grixdale Farms
Name: 1, dtype: object

In [9]:
#TestCase
try:
  detroit_demolitions['location']
except KeyError:
  print("Test passed!")

Test passed!

# Exercise 4
Check if there are any duplicate records

In [10]:
# Your code goes here
if(detroit_demolitions.address.nunique() == detroit_demolitions.shape[0]):
  print("No duplicate records")
else:
  print("there are some duplicate records")

No duplicate records

In [11]:
detroit_demolitions.duplicated().value_counts()

False    12227
dtype: int64

In [12]:
detroit_demolitions.duplicated().unique()

array([False])

In [13]:
detroit_demolitions.duplicated().nunique()

1

##Exercise 5

Get all demolitions that happened on '2014-08-07' that were carried out by contractors whose name contain 'CM'

In [14]:
result = detroit_demolitions[(detroit_demolitions['demolition_date'] == '2014-08-07') & (detroit_demolitions['contractor_name'].str.contains('CM'))]

In [15]:
result['demolition_date'].value_counts()

2014-08-07    15
Name: demolition_date, dtype: int64

In [16]:
#TestCase
assert(result['demolition_date'].value_counts()[0] == 15)
print("Test passed!")

Test passed!

#Exercise 6
Segment the price column by creating another column called 'cost_group' in that you label all demolitions below 5,000 as 'below 5k' , and all demolitions between 5,000 to 10,000 as '5k to 10k', and demolitions between 10,000 to 25,000 as '10k to 25k' and the rest as 'high-cost'

In [17]:
#Your code goes here
import numpy as np
segments = [-1,4999,9999,24999,np.inf]
labels = ['below 5k',' 5k to 10k','10k o 25k','high-cost']
cost_group = pd.cut(detroit_demolitions['price'],segments,labels=labels)
detroit_demolitions['cost_group'] = cost_group

In [18]:
detroit_demolitions.head()

,address,parcel_id,contractor_name,price,demolition_date,commercial_building,council_district,latitude,longitude,neighborhood,cost_group
0,19493 Concord,15011348.,MCM,12530.82,2014-08-07,No,3,42.438562,-83.033366,Nortown,10k o 25k
1,10 W Arizona,01004588.,Rickman Enterprise Group,13630.00,2016-03-08,No,2,42.419302,-83.102320,Grixdale Farms,10k o 25k
2,100 Marston,01002314.,ABC Demolition,14300.00,2014-07-25,No,5,42.375327,-83.074438,North End,10k o 25k
3,1000 Baldwin,17011063.,DMC Consultants,18687.40,2014-04-16,No,5,42.352273,-82.999264,Islandview,10k o 25k
4,10005 Mansfield,22057965.,"Adamo Group, Inc.",8950.00,2016-07-12,No,7,42.369223,-83.203769,Joy Community,5k to 10k

In [19]:
#TestCase
assert(detroit_demolitions['cost_group'].value_counts()['below 5k'] == 138)
print("Test passed!")

Test passed!

In [20]:
#Your code goes here
result = detroit_demolitions['demolition_date'].groupby(detroit_demolitions['contractor_name'])
result.size()

contractor_name
1 Way Service                             83
313 Construction, LLC                     40
ABC Demolition                           446
Able Demolition                         1260
Adamo Group, Inc.                       2866
BBEK Environmental                         1
Berkshire Development, Inc.               13
Blackstar                                  1
Blue Star                                379
Brown & Glo Wrecking                      23
Brown Environmental Construction         265
DMC Consultants                         1388
Den-Man Contractors                       72
Direct Construction Services, LLC         93
Dore & Associates                         62
Esso Wrecking Co.                        217
Farrow Group                             236
Futurenet Group                           88
GLO WRECKING CO                           18
Homrich                                 2342
Jenkins Construction                      46
Joy Construction                           1
Leadhead Construction                     22
MCM                                      334
RDC Construction Services                 69
Rickman Enterprise Group                1238
SJ Design and Construction                 1
Salenbien Trucking & Excavating Inc.     501
Smalley                                   71
Timesavers Contracting                    50
Upright Wrecking                           1
Name: demolition_date, dtype: int64

In [21]:
result = detroit_demolitions.groupby(['demolition_date','contractor_name'])
result.size()

demolition_date  contractor_name
2014-01-02       Den-Man Contractors         1
2014-01-06       Den-Man Contractors         2
                 Futurenet Group             2
2014-01-07       Futurenet Group             1
2014-01-13       Futurenet Group             1
                                            ..
2017-09-07       DMC Consultants             2
                 Den-Man Contractors         2
                 Rickman Enterprise Group    2
2017-09-08       Able Demolition             3
                 DMC Consultants             2
Length: 3474, dtype: int64

In [22]:
result = detroit_demolitions.groupby(['demolition_date'])
result.groups.keys()

dict_keys([Timestamp('2014-01-02 00:00:00'), Timestamp('2014-01-06 00:00:00'), Timestamp('2014-01-07 00:00:00'), Timestamp('2014-01-13 00:00:00'), Timestamp('2014-01-14 00:00:00'), Timestamp('2014-01-15 00:00:00'), Timestamp('2014-01-16 00:00:00'), Timestamp('2014-01-17 00:00:00'), Timestamp('2014-01-21 00:00:00'), Timestamp('2014-01-22 00:00:00'), Timestamp('2014-01-23 00:00:00'), Timestamp('2014-01-24 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-03 00:00:00'), Timestamp('2014-02-04 00:00:00'), Timestamp('2014-02-07 00:00:00'), Timestamp('2014-02-12 00:00:00'), Timestamp('2014-02-14 00:00:00'), Timestamp('2014-02-17 00:00:00'), Timestamp('2014-02-18 00:00:00'), Timestamp('2014-02-19 00:00:00'), Timestamp('2014-02-20 00:00:00'), Timestamp('2014-02-21 00:00:00'), Timestamp('2014-02-24 00:00:00'), Timestamp('2014-02-25 00:00:00'), Timestamp('2014-02-26 00:00:00'), Timestamp('2014-02-27 00:00:00'), Timestamp('2014-03-04 00:00:00'), Timestamp('2014-03-07 00:00:00'), Timestamp('2014-03-11 00:00:00'), Timestamp('2014-03-13 00:00:00'), Timestamp('2014-03-14 00:00:00'), Timestamp('2014-03-17 00:00:00'), Timestamp('2014-03-19 00:00:00'), Timestamp('2014-03-24 00:00:00'), Timestamp('2014-03-25 00:00:00'), Timestamp('2014-03-26 00:00:00'), Timestamp('2014-03-27 00:00:00'), Timestamp('2014-03-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-01 00:00:00'), Timestamp('2014-04-02 00:00:00'), Timestamp('2014-04-03 00:00:00'), Timestamp('2014-04-05 00:00:00'), Timestamp('2014-04-07 00:00:00'), Timestamp('2014-04-08 00:00:00'), Timestamp('2014-04-09 00:00:00'), Timestamp('2014-04-11 00:00:00'), Timestamp('2014-04-14 00:00:00'), Timestamp('2014-04-16 00:00:00'), Timestamp('2014-04-17 00:00:00'), Timestamp('2014-04-21 00:00:00'), Timestamp('2014-04-22 00:00:00'), Timestamp('2014-04-23 00:00:00'), Timestamp('2014-04-24 00:00:00'), Timestamp('2014-04-25 00:00:00'), Timestamp('2014-04-28 00:00:00'), Timestamp('2014-04-29 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-01 00:00:00'), Timestamp('2014-05-02 00:00:00'), Timestamp('2014-05-05 00:00:00'), Timestamp('2014-05-06 00:00:00'), Timestamp('2014-05-07 00:00:00'), Timestamp('2014-05-08 00:00:00'), Timestamp('2014-05-09 00:00:00'), Timestamp('2014-05-12 00:00:00'), Timestamp('2014-05-13 00:00:00'), Timestamp('2014-05-14 00:00:00'), Timestamp('2014-05-15 00:00:00'), Timestamp('2014-05-16 00:00:00'), Timestamp('2014-05-17 00:00:00'), Timestamp('2014-05-19 00:00:00'), Timestamp('2014-05-20 00:00:00'), Timestamp('2014-05-21 00:00:00'), Timestamp('2014-05-22 00:00:00'), Timestamp('2014-05-23 00:00:00'), Timestamp('2014-05-27 00:00:00'), Timestamp('2014-05-28 00:00:00'), Timestamp('2014-05-29 00:00:00'), Timestamp('2014-05-30 00:00:00'), Timestamp('2014-06-02 00:00:00'), Timestamp('2014-06-03 00:00:00'), Timestamp('2014-06-04 00:00:00'), Timestamp('2014-06-05 00:00:00'), Timestamp('2014-06-06 00:00:00'), Timestamp('2014-06-09 00:00:00'), Timestamp('2014-06-10 00:00:00'), Timestamp('2014-06-11 00:00:00'), Timestamp('2014-06-12 00:00:00'), Timestamp('2014-06-13 00:00:00'), Timestamp('2014-06-14 00:00:00'), Timestamp('2014-06-15 00:00:00'), Timestamp('2014-06-16 00:00:00'), Timestamp('2014-06-17 00:00:00'), Timestamp('2014-06-18 00:00:00'), Timestamp('2014-06-19 00:00:00'), Timestamp('2014-06-20 00:00:00'), Timestamp('2014-06-21 00:00:00'), Timestamp('2014-06-23 00:00:00'), Timestamp('2014-06-24 00:00:00'), Timestamp('2014-06-25 00:00:00'), Timestamp('2014-06-26 00:00:00'), Timestamp('2014-06-27 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-01 00:00:00'), Timestamp('2014-07-02 00:00:00'), Timestamp('2014-07-03 00:00:00'), Timestamp('2014-07-04 00:00:00'), Timestamp('2014-07-07 00:00:00'), Timestamp('2014-07-08 00:00:00'), Timestamp('2014-07-09 00:00:00'), Timestamp('2014-07-10 00:00:00'), Timestamp('2014-07-11 00:00:00'), Timestamp('2014-07-12 00:00:00'), Timestamp('2014-07-14 00:00:00'), Timestamp('2014-07-15 00:00:00'), Timestamp('2014-07-16 00:00:00'), Timestamp('2014-07-17 00:00:00'), Timestamp('2014-07-18 00:00:00'), Timestamp('2014-07-19 00:00:00'), Timestamp('2014-07-21 00:00:00'), Timestamp('2014-07-22 00:00:00'), Timestamp('2014-07-23 00:00:00'), Timestamp('2014-07-24 00:00:00'), Timestamp('2014-07-25 00:00:00'), Timestamp('2014-07-27 00:00:00'), Timestamp('2014-07-28 00:00:00'), Timestamp('2014-07-29 00:00:00'), Timestamp('2014-07-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-01 00:00:00'), Timestamp('2014-08-02 00:00:00'), Timestamp('2014-08-04 00:00:00'), Timestamp('2014-08-05 00:00:00'), Timestamp('2014-08-06 00:00:00'), Timestamp('2014-08-07 00:00:00'), Timestamp('2014-08-08 00:00:00'), Timestamp('2014-08-09 00:00:00'), Timestamp('2014-08-11 00:00:00'), Timestamp('2014-08-12 00:00:00'), Timestamp('2014-08-13 00:00:00'), Timestamp('2014-08-14 00:00:00'), Timestamp('2014-08-15 00:00:00'), Timestamp('2014-08-16 00:00:00'), Timestamp('2014-08-18 00:00:00'), Timestamp('2014-08-19 00:00:00'), Timestamp('2014-08-20 00:00:00'), Timestamp('2014-08-21 00:00:00'), Timestamp('2014-08-22 00:00:00'), Timestamp('2014-08-23 00:00:00'), Timestamp('2014-08-25 00:00:00'), Timestamp('2014-08-26 00:00:00'), Timestamp('2014-08-27 00:00:00'), Timestamp('2014-08-28 00:00:00'), Timestamp('2014-08-29 00:00:00'), Timestamp('2014-08-30 00:00:00'), Timestamp('2014-09-01 00:00:00'), Timestamp('2014-09-02 00:00:00'), Timestamp('2014-09-03 00:00:00'), Timestamp('2014-09-04 00:00:00'), Timestamp('2014-09-05 00:00:00'), Timestamp('2014-09-06 00:00:00'), Timestamp('2014-09-08 00:00:00'), Timestamp('2014-09-09 00:00:00'), Timestamp('2014-09-10 00:00:00'), Timestamp('2014-09-11 00:00:00'), Timestamp('2014-09-12 00:00:00'), Timestamp('2014-09-13 00:00:00'), Timestamp('2014-09-15 00:00:00'), Timestamp('2014-09-16 00:00:00'), Timestamp('2014-09-17 00:00:00'), Timestamp('2014-09-18 00:00:00'), Timestamp('2014-09-19 00:00:00'), Timestamp('2014-09-20 00:00:00'), Timestamp('2014-09-21 00:00:00'), Timestamp('2014-09-22 00:00:00'), Timestamp('2014-09-23 00:00:00'), Timestamp('2014-09-24 00:00:00'), Timestamp('2014-09-25 00:00:00'), Timestamp('2014-09-26 00:00:00'), Timestamp('2014-09-27 00:00:00'), Timestamp('2014-09-29 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-01 00:00:00'), Timestamp('2014-10-02 00:00:00'), Timestamp('2014-10-03 00:00:00'), Timestamp('2014-10-05 00:00:00'), Timestamp('2014-10-06 00:00:00'), Timestamp('2014-10-07 00:00:00'), Timestamp('2014-10-08 00:00:00'), Timestamp('2014-10-09 00:00:00'), Timestamp('2014-10-10 00:00:00'), Timestamp('2014-10-13 00:00:00'), Timestamp('2014-10-14 00:00:00'), Timestamp('2014-10-15 00:00:00'), Timestamp('2014-10-16 00:00:00'), Timestamp('2014-10-17 00:00:00'), Timestamp('2014-10-18 00:00:00'), Timestamp('2014-10-20 00:00:00'), Timestamp('2014-10-21 00:00:00'), Timestamp('2014-10-22 00:00:00'), Timestamp('2014-10-23 00:00:00'), Timestamp('2014-10-24 00:00:00'), Timestamp('2014-10-27 00:00:00'), Timestamp('2014-10-28 00:00:00'), Timestamp('2014-10-29 00:00:00'), Timestamp('2014-10-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-01 00:00:00'), Timestamp('2014-11-03 00:00:00'), Timestamp('2014-11-04 00:00:00'), Timestamp('2014-11-05 00:00:00'), Timestamp('2014-11-06 00:00:00'), Timestamp('2014-11-07 00:00:00'), Timestamp('2014-11-10 00:00:00'), Timestamp('2014-11-11 00:00:00'), Timestamp('2014-11-12 00:00:00'), Timestamp('2014-11-13 00:00:00'), Timestamp('2014-11-14 00:00:00'), Timestamp('2014-11-16 00:00:00'), Timestamp('2014-11-17 00:00:00'), Timestamp('2014-11-18 00:00:00'), Timestamp('2014-11-19 00:00:00'), Timestamp('2014-11-20 00:00:00'), Timestamp('2014-11-21 00:00:00'), Timestamp('2014-11-22 00:00:00'), Timestamp('2014-11-24 00:00:00'), Timestamp('2014-11-25 00:00:00'), Timestamp('2014-11-26 00:00:00'), Timestamp('2014-11-28 00:00:00'), Timestamp('2014-12-01 00:00:00'), Timestamp('2014-12-02 00:00:00'), Timestamp('2014-12-03 00:00:00'), Timestamp('2014-12-04 00:00:00'), Timestamp('2014-12-05 00:00:00'), Timestamp('2014-12-08 00:00:00'), Timestamp('2014-12-09 00:00:00'), Timestamp('2014-12-10 00:00:00'), Timestamp('2014-12-11 00:00:00'), Timestamp('2014-12-12 00:00:00'), Timestamp('2014-12-15 00:00:00'), Timestamp('2014-12-16 00:00:00'), Timestamp('2014-12-17 00:00:00'), Timestamp('2014-12-18 00:00:00'), Timestamp('2014-12-19 00:00:00'), Timestamp('2014-12-22 00:00:00'), Timestamp('2014-12-23 00:00:00'), Timestamp('2014-12-29 00:00:00'), Timestamp('2014-12-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-01 00:00:00'), Timestamp('2015-01-02 00:00:00'), Timestamp('2015-01-05 00:00:00'), Timestamp('2015-01-06 00:00:00'), Timestamp('2015-01-07 00:00:00'), Timestamp('2015-01-08 00:00:00'), Timestamp('2015-01-09 00:00:00'), Timestamp('2015-01-12 00:00:00'), Timestamp('2015-01-13 00:00:00'), Timestamp('2015-01-14 00:00:00'), Timestamp('2015-01-15 00:00:00'), Timestamp('2015-01-16 00:00:00'), Timestamp('2015-01-19 00:00:00'), Timestamp('2015-01-20 00:00:00'), Timestamp('2015-01-21 00:00:00'), Timestamp('2015-01-22 00:00:00'), Timestamp('2015-01-23 00:00:00'), Timestamp('2015-01-26 00:00:00'), Timestamp('2015-01-27 00:00:00'), Timestamp('2015-01-28 00:00:00'), Timestamp('2015-01-29 00:00:00'), Timestamp('2015-01-30 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-03 00:00:00'), Timestamp('2015-02-04 00:00:00'), Timestamp('2015-02-05 00:00:00'), Timestamp('2015-02-06 00:00:00'), Timestamp('2015-02-07 00:00:00'), Timestamp('2015-02-09 00:00:00'), Timestamp('2015-02-10 00:00:00'), Timestamp('2015-02-11 00:00:00'), Timestamp('2015-02-12 00:00:00'), Timestamp('2015-02-13 00:00:00'), Timestamp('2015-02-14 00:00:00'), Timestamp('2015-02-16 00:00:00'), Timestamp('2015-02-17 00:00:00'), Timestamp('2015-02-18 00:00:00'), Timestamp('2015-02-19 00:00:00'), Timestamp('2015-02-20 00:00:00'), Timestamp('2015-02-23 00:00:00'), Timestamp('2015-02-24 00:00:00'), Timestamp('2015-02-25 00:00:00'), Timestamp('2015-02-26 00:00:00'), Timestamp('2015-02-27 00:00:00'), Timestamp('2015-03-02 00:00:00'), Timestamp('2015-03-03 00:00:00'), Timestamp('2015-03-04 00:00:00'), Timestamp('2015-03-05 00:00:00'), Timestamp('2015-03-06 00:00:00'), Timestamp('2015-03-09 00:00:00'), Timestamp('2015-03-10 00:00:00'), Timestamp('2015-03-11 00:00:00'), Timestamp('2015-03-12 00:00:00'), Timestamp('2015-03-13 00:00:00'), Timestamp('2015-03-16 00:00:00'), Timestamp('2015-03-17 00:00:00'), Timestamp('2015-03-18 00:00:00'), Timestamp('2015-03-19 00:00:00'), Timestamp('2015-03-23 00:00:00'), Timestamp('2015-03-24 00:00:00'), Timestamp('2015-03-25 00:00:00'), Timestamp('2015-03-26 00:00:00'), Timestamp('2015-03-30 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-01 00:00:00'), Timestamp('2015-04-06 00:00:00'), Timestamp('2015-04-07 00:00:00'), Timestamp('2015-04-08 00:00:00'), Timestamp('2015-04-09 00:00:00'), Timestamp('2015-04-10 00:00:00'), Timestamp('2015-04-13 00:00:00'), Timestamp('2015-04-14 00:00:00'), Timestamp('2015-04-15 00:00:00'), Timestamp('2015-04-16 00:00:00'), Timestamp('2015-04-17 00:00:00'), Timestamp('2015-04-20 00:00:00'), Timestamp('2015-04-21 00:00:00'), Timestamp('2015-04-22 00:00:00'), Timestamp('2015-04-23 00:00:00'), Timestamp('2015-04-24 00:00:00'), Timestamp('2015-04-27 00:00:00'), Timestamp('2015-04-28 00:00:00'), Timestamp('2015-04-29 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-01 00:00:00'), Timestamp('2015-05-02 00:00:00'), Timestamp('2015-05-04 00:00:00'), Timestamp('2015-05-05 00:00:00'), Timestamp('2015-05-06 00:00:00'), Timestamp('2015-05-07 00:00:00'), Timestamp('2015-05-08 00:00:00'), Timestamp('2015-05-11 00:00:00'), Timestamp('2015-05-12 00:00:00'), Timestamp('2015-05-13 00:00:00'), Timestamp('2015-05-14 00:00:00'), Timestamp('2015-05-15 00:00:00'), Timestamp('2015-05-16 00:00:00'), Timestamp('2015-05-18 00:00:00'), Timestamp('2015-05-19 00:00:00'), Timestamp('2015-05-20 00:00:00'), Timestamp('2015-05-21 00:00:00'), Timestamp('2015-05-22 00:00:00'), Timestamp('2015-05-26 00:00:00'), Timestamp('2015-05-27 00:00:00'), Timestamp('2015-05-28 00:00:00'), Timestamp('2015-05-29 00:00:00'), Timestamp('2015-05-30 00:00:00'), Timestamp('2015-06-01 00:00:00'), Timestamp('2015-06-02 00:00:00'), Timestamp('2015-06-03 00:00:00'), Timestamp('2015-06-04 00:00:00'), Timestamp('2015-06-05 00:00:00'), Timestamp('2015-06-06 00:00:00'), Timestamp('2015-06-08 00:00:00'), Timestamp('2015-06-09 00:00:00'), Timestamp('2015-06-10 00:00:00'), Timestamp('2015-06-11 00:00:00'), Timestamp('2015-06-12 00:00:00'), Timestamp('2015-06-13 00:00:00'), Timestamp('2015-06-15 00:00:00'), Timestamp('2015-06-16 00:00:00'), Timestamp('2015-06-17 00:00:00'), Timestamp('2015-06-18 00:00:00'), Timestamp('2015-06-19 00:00:00'), Timestamp('2015-06-22 00:00:00'), Timestamp('2015-06-23 00:00:00'), Timestamp('2015-06-24 00:00:00'), Timestamp('2015-06-25 00:00:00'), Timestamp('2015-06-26 00:00:00'), Timestamp('2015-06-28 00:00:00'), Timestamp('2015-06-29 00:00:00'), Timestamp('2015-06-30 00:00:00'), Timestamp('2015-07-01 00:00:00'), Timestamp('2015-07-02 00:00:00'), Timestamp('2015-07-03 00:00:00'), Timestamp('2015-07-06 00:00:00'), Timestamp('2015-07-07 00:00:00'), Timestamp('2015-07-08 00:00:00'), Timestamp('2015-07-09 00:00:00'), Timestamp('2015-07-10 00:00:00'), Timestamp('2015-07-11 00:00:00'), Timestamp('2015-07-13 00:00:00'), Timestamp('2015-07-14 00:00:00'), Timestamp('2015-07-15 00:00:00'), Timestamp('2015-07-16 00:00:00'), Timestamp('2015-07-17 00:00:00'), Timestamp('2015-07-18 00:00:00'), Timestamp('2015-07-20 00:00:00'), Timestamp('2015-07-21 00:00:00'), Timestamp('2015-07-22 00:00:00'), Timestamp('2015-07-23 00:00:00'), Timestamp('2015-07-24 00:00:00'), Timestamp('2015-07-25 00:00:00'), Timestamp('2015-07-27 00:00:00'), Timestamp('2015-07-28 00:00:00'), Timestamp('2015-07-29 00:00:00'), Timestamp('2015-07-30 00:00:00'), Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-02 00:00:00'), Timestamp('2015-08-03 00:00:00'), Timestamp('2015-08-04 00:00:00'), Timestamp('2015-08-05 00:00:00'), Timestamp('2015-08-06 00:00:00'), Timestamp('2015-08-07 00:00:00'), Timestamp('2015-08-10 00:00:00'), Timestamp('2015-08-11 00:00:00'), Timestamp('2015-08-12 00:00:00'), Timestamp('2015-08-13 00:00:00'), Timestamp('2015-08-14 00:00:00'), Timestamp('2015-08-15 00:00:00'), Timestamp('2015-08-16 00:00:00'), Timestamp('2015-08-17 00:00:00'), Timestamp('2015-08-18 00:00:00'), Timestamp('2015-08-19 00:00:00'), Timestamp('2015-08-20 00:00:00'), Timestamp('2015-08-21 00:00:00'), Timestamp('2015-08-22 00:00:00'), Timestamp('2015-08-24 00:00:00'), Timestamp('2015-08-25 00:00:00'), Timestamp('2015-08-26 00:00:00'), Timestamp('2015-08-27 00:00:00'), Timestamp('2015-08-28 00:00:00'), Timestamp('2015-08-29 00:00:00'), Timestamp('2015-08-30 00:00:00'), Timestamp('2015-08-31 00:00:00'), Timestamp('2015-09-01 00:00:00'), Timestamp('2015-09-02 00:00:00'), Timestamp('2015-09-03 00:00:00'), Timestamp('2015-09-04 00:00:00'), Timestamp('2015-09-05 00:00:00'), Timestamp('2015-09-06 00:00:00'), Timestamp('2015-09-07 00:00:00'), Timestamp('2015-09-08 00:00:00'), Timestamp('2015-09-09 00:00:00'), Timestamp('2015-09-10 00:00:00'), Timestamp('2015-09-11 00:00:00'), Timestamp('2015-09-14 00:00:00'), Timestamp('2015-09-15 00:00:00'), Timestamp('2015-09-16 00:00:00'), Timestamp('2015-09-17 00:00:00'), Timestamp('2015-09-18 00:00:00'), Timestamp('2015-09-19 00:00:00'), Timestamp('2015-09-21 00:00:00'), Timestamp('2015-09-22 00:00:00'), Timestamp('2015-09-23 00:00:00'), Timestamp('2015-09-24 00:00:00'), Timestamp('2015-09-25 00:00:00'), Timestamp('2015-09-28 00:00:00'), Timestamp('2015-09-29 00:00:00'), Timestamp('2015-09-30 00:00:00'), Timestamp('2015-10-01 00:00:00'), Timestamp('2015-10-02 00:00:00'), Timestamp('2015-10-03 00:00:00'), Timestamp('2015-10-05 00:00:00'), Timestamp('2015-10-06 00:00:00'), Timestamp('2015-10-07 00:00:00'), Timestamp('2015-10-08 00:00:00'), Timestamp('2015-10-09 00:00:00'), Timestamp('2015-10-10 00:00:00'), Timestamp('2015-10-12 00:00:00'), Timestamp('2015-10-13 00:00:00'), Timestamp('2015-10-14 00:00:00'), Timestamp('2015-10-15 00:00:00'), Timestamp('2015-10-16 00:00:00'), Timestamp('2015-10-19 00:00:00'), Timestamp('2015-10-20 00:00:00'), Timestamp('2015-10-21 00:00:00'), Timestamp('2015-10-22 00:00:00'), Timestamp('2015-10-23 00:00:00'), Timestamp('2015-10-24 00:00:00'), Timestamp('2015-10-26 00:00:00'), Timestamp('2015-10-27 00:00:00'), Timestamp('2015-10-28 00:00:00'), Timestamp('2015-10-29 00:00:00'), Timestamp('2015-10-30 00:00:00'), Timestamp('2015-11-02 00:00:00'), Timestamp('2015-11-03 00:00:00'), Timestamp('2015-11-04 00:00:00'), Timestamp('2015-11-05 00:00:00'), Timestamp('2015-11-06 00:00:00'), Timestamp('2015-11-09 00:00:00'), Timestamp('2015-11-10 00:00:00'), Timestamp('2015-11-11 00:00:00'), Timestamp('2015-11-12 00:00:00'), Timestamp('2015-11-13 00:00:00'), Timestamp('2015-11-14 00:00:00'), Timestamp('2015-11-16 00:00:00'), Timestamp('2015-11-17 00:00:00'), Timestamp('2015-11-18 00:00:00'), Timestamp('2015-11-19 00:00:00'), Timestamp('2015-11-20 00:00:00'), Timestamp('2015-11-21 00:00:00'), Timestamp('2015-11-23 00:00:00'), Timestamp('2015-11-24 00:00:00'), Timestamp('2015-11-25 00:00:00'), Timestamp('2015-11-27 00:00:00'), Timestamp('2015-11-30 00:00:00'), Timestamp('2015-12-01 00:00:00'), Timestamp('2015-12-02 00:00:00'), Timestamp('2015-12-03 00:00:00'), Timestamp('2015-12-04 00:00:00'), Timestamp('2015-12-07 00:00:00'), Timestamp('2015-12-08 00:00:00'), Timestamp('2015-12-09 00:00:00'), Timestamp('2015-12-10 00:00:00'), Timestamp('2015-12-11 00:00:00'), Timestamp('2015-12-12 00:00:00'), Timestamp('2015-12-14 00:00:00'), Timestamp('2015-12-15 00:00:00'), Timestamp('2015-12-16 00:00:00'), Timestamp('2015-12-17 00:00:00'), Timestamp('2015-12-18 00:00:00'), Timestamp('2015-12-19 00:00:00'), Timestamp('2015-12-21 00:00:00'), Timestamp('2015-12-22 00:00:00'), Timestamp('2015-12-23 00:00:00'), Timestamp('2015-12-24 00:00:00'), Timestamp('2015-12-28 00:00:00'), Timestamp('2015-12-30 00:00:00'), Timestamp('2016-01-04 00:00:00'), Timestamp('2016-01-05 00:00:00'), Timestamp('2016-01-06 00:00:00'), Timestamp('2016-01-07 00:00:00'), Timestamp('2016-01-08 00:00:00'), Timestamp('2016-01-09 00:00:00'), Timestamp('2016-01-11 00:00:00'), Timestamp('2016-01-12 00:00:00'), Timestamp('2016-01-13 00:00:00'), Timestamp('2016-01-14 00:00:00'), Timestamp('2016-01-15 00:00:00'), Timestamp('2016-01-18 00:00:00'), Timestamp('2016-01-19 00:00:00'), Timestamp('2016-01-20 00:00:00'), Timestamp('2016-01-21 00:00:00'), Timestamp('2016-01-22 00:00:00'), Timestamp('2016-01-25 00:00:00'), Timestamp('2016-01-26 00:00:00'), Timestamp('2016-01-27 00:00:00'), Timestamp('2016-01-28 00:00:00'), Timestamp('2016-01-29 00:00:00'), Timestamp('2016-01-31 00:00:00'), Timestamp('2016-02-01 00:00:00'), Timestamp('2016-02-02 00:00:00'), Timestamp('2016-02-03 00:00:00'), Timestamp('2016-02-04 00:00:00'), Timestamp('2016-02-05 00:00:00'), Timestamp('2016-02-08 00:00:00'), Timestamp('2016-02-09 00:00:00'), Timestamp('2016-02-10 00:00:00'), Timestamp('2016-02-11 00:00:00'), Timestamp('2016-02-12 00:00:00'), Timestamp('2016-02-15 00:00:00'), Timestamp('2016-02-16 00:00:00'), Timestamp('2016-02-17 00:00:00'), Timestamp('2016-02-18 00:00:00'), Timestamp('2016-02-19 00:00:00'), Timestamp('2016-02-22 00:00:00'), Timestamp('2016-02-23 00:00:00'), Timestamp('2016-02-24 00:00:00'), Timestamp('2016-02-25 00:00:00'), Timestamp('2016-02-26 00:00:00'), Timestamp('2016-02-27 00:00:00'), Timestamp('2016-02-29 00:00:00'), Timestamp('2016-03-01 00:00:00'), Timestamp('2016-03-02 00:00:00'), Timestamp('2016-03-03 00:00:00'), Timestamp('2016-03-07 00:00:00'), Timestamp('2016-03-08 00:00:00'), Timestamp('2016-03-09 00:00:00'), Timestamp('2016-03-10 00:00:00'), Timestamp('2016-03-11 00:00:00'), Timestamp('2016-03-12 00:00:00'), Timestamp('2016-03-14 00:00:00'), Timestamp('2016-03-15 00:00:00'), Timestamp('2016-03-16 00:00:00'), Timestamp('2016-03-17 00:00:00'), Timestamp('2016-03-18 00:00:00'

In [23]:
result.groups

{2014-01-02 00:00:00: [3807], 2014-01-06 00:00:00: [1081, 2430, 8191, 9353], 2014-01-07 00:00:00: [3958], 2014-01-13 00:00:00: [7496], 2014-01-14 00:00:00: [3459], 2014-01-15 00:00:00: [754, 11828], 2014-01-16 00:00:00: [461, 751, 759, 4972], 2014-01-17 00:00:00: [217, 7677, 11274], 2014-01-21 00:00:00: [645, 1713, 2361, 10347], 2014-01-22 00:00:00: [1214, 10356, 10767, 11550], 2014-01-23 00:00:00: [10348], 2014-01-24 00:00:00: [2550, 11946], 2014-01-31 00:00:00: [8558, 9598], 2014-02-03 00:00:00: [220, 859, 9740], 2014-02-04 00:00:00: [2333, 11870], 2014-02-07 00:00:00: [568], 2014-02-12 00:00:00: [6060], 2014-02-14 00:00:00: [612, 7771, 8835], 2014-02-17 00:00:00: [988], 2014-02-18 00:00:00: [479, 603], 2014-02-19 00:00:00: [1584, 4186, 11993], 2014-02-20 00:00:00: [249, 894, 2310], 2014-02-21 00:00:00: [1992], 2014-02-24 00:00:00: [2323, 9884], 2014-02-25 00:00:00: [2925, 3050], 2014-02-26 00:00:00: [2156, 10349], 2014-02-27 00:00:00: [106, 9675], 2014-03-04 00:00:00: [6192, 10345, 10346], 2014-03-07 00:00:00: [8267, 11196, 11992], 2014-03-11 00:00:00: [841, 4582, 9903, 9943, 11263], 2014-03-13 00:00:00: [979, 1543, 6849, 11970], 2014-03-14 00:00:00: [11965, 11966], 2014-03-17 00:00:00: [795, 3650, 5775], 2014-03-19 00:00:00: [4970, 6153], 2014-03-24 00:00:00: [35, 8972, 11676], 2014-03-25 00:00:00: [1662], 2014-03-26 00:00:00: [1063, 2727, 4312], 2014-03-27 00:00:00: [9251, 10327], 2014-03-28 00:00:00: [3688, 4037], 2014-03-31 00:00:00: [4078, 4099, 4185, 4192, 6338, 7422, 8640], 2014-04-01 00:00:00: [3354, 3375, 3420, 3427], 2014-04-02 00:00:00: [4026], 2014-04-03 00:00:00: [2166, 3696, 3977, 4036, 4610, 8332], 2014-04-05 00:00:00: [11636, 11985], 2014-04-07 00:00:00: [533, 562, 3557, 4750, 7642, 7648, 8251, 8560, 9439], 2014-04-08 00:00:00: [1533, 1545, 1722, 7501, 7534, 8999], 2014-04-09 00:00:00: [2807, 9321, 11841], 2014-04-11 00:00:00: [6337, 8621, 9082], 2014-04-14 00:00:00: [9813], 2014-04-16 00:00:00: [3, 102, 314, 2883, 3201, 4644, 6440, 8301, 9242, 9250, 9253], 2014-04-17 00:00:00: [620, 5618], 2014-04-21 00:00:00: [76, 9254, 9441, 9484], 2014-04-22 00:00:00: [6050, 8300], 2014-04-23 00:00:00: [828, 4054, 6205, 6212, 6498, 7039, 7070, 7113, 7483, 8392], 2014-04-24 00:00:00: [3241], 2014-04-25 00:00:00: [6048, 6469, 8123, 8512], 2014-04-28 00:00:00: [664, 8408, 8431], 2014-04-29 00:00:00: [547, 902, 2637, 2661, 7873], 2014-04-30 00:00:00: [283, 2509, 8348, 9416, 11384], 2014-05-01 00:00:00: [1743, 2863, 2909, 2946, 6349, 8063, 8214, 9117, 9138, 9357, 9379, 9404, 11181, 11201, 11829], 2014-05-02 00:00:00: [367, 4204, 6219, 8153], 2014-05-05 00:00:00: [33, 444, 3829, 4380, 4532], 2014-05-06 00:00:00: [499, 7975], 2014-05-07 00:00:00: [41, 1126, 1452, 3873, 9090, 11179], 2014-05-08 00:00:00: [96, 157, 441, 2210, 5013, 5328, 5572, 6727, 6766, 7909, 11874, 11884], 2014-05-09 00:00:00: [85, 178, 4975, 7117, 7906, 8433, 9750, 11028, 11212], 2014-05-12 00:00:00: [1261, 1346, 1383, 1394, 1417, 2448, 4241, 5276, 7237, 7299, 7502, 7924, 8303, 10975], 2014-05-13 00:00:00: [341, 1453, 2516, 2658, 2699, 7204, 7318, 7480, 7531, 8781, 8794, 9040], 2014-05-14 00:00:00: [182, 1373, 1465, 1467, 1487, 1492, 2476, 3897, 5098, 5129, 5214, 5246, 6877, 7463, 7645, 8579], 2014-05-15 00:00:00: [962, 1906, 2532, 2556, 2586, 3005, 4049, 8379, 8611], 2014-05-16 00:00:00: [792, 807, 1180, 1352, 1440, 1887, 2403, 2422, 2578, 3146, 3265, 4976, 5632, 5649, 7646, 8279, 8940, 8985], 2014-05-17 00:00:00: [1232, 1435, 2860, 3200, 3287, 4277, 7945, 8443], 2014-05-19 00:00:00: [953, 1400, 1445, 1556, 1619, 1627, 1667, 2845, 2854, 8448, 9188, 9888, 11203], 2014-05-20 00:00:00: [1366, 1390, 1557, 1602, 1834, 2560, 2765, 2833, 6595, 6603, 6761, 6948, 7116, 8108, 8598, 9461, 11252], 2014-05-21 00:00:00: [1179, 1188, 1354, 2524, 5127, 5161, 5622, 7377, 7455, 9126, 9383, 9411, 9418, 9534, 11278], 2014-05-22 00:00:00: [1523, 1726, 1806, 2814, 6371, 7570, 7913, 9304, 9793, 9814], 2014-05-23 00:00:00: [738, 901, 1807, 1825, 2673, 2715, 2846, 2983, 4342, 4997, 5006, 5146, 7819, 8590, 9421, 9781, 9963, 12138], 2014-05-27 00:00:00: [2664, 3195, 3550, 6411, 9921, 12136], 2014-05-28 00:00:00: [261, 700, 895, 1717, 1833, 1850, 1864, 1870, 1974, 2016, 2065, 2186, 2305, 2485, 2486, 2487, 2689, 2927, 4633, 4851, 5008, 9390, 9476, 9496, 11861], 2014-05-29 00:00:00: [1901, 2123, 2441, 2564, 2645, 2700, 5131, 6255, 6259, 6264, 6985, 7253, 7821, 8792], 2014-05-30 00:00:00: [176, 346, 1789, 1801, 1812, 1819, 1827, 1829, 1843, 1845, 1846, 1851, 1852, 1857, 1863, 1866, 1876, 1879, 1883, 1891, 1895, 1954, 1958, 1964, 1971, 1997, 1999, 2015, 2026, 2039, 2796, 2895, 4985, 4996, 7261, 7529, 7962, 10981], 2014-06-02 00:00:00: [374, 416, 1187, 1192, 1981, 2810, 2834, 2962, 3190, 3231, 3244, 3245, 3275, 4015, 7264, 10972], 2014-06-03 00:00:00: [1826, 2675, 2701, 2711, 2713, 3228, 3299, 6916, 7494, 7686, 7714, 7762, 11258], 2014-06-04 00:00:00: [946, 987, 1320, 2898, 2948, 4064, 8006, 8244], 2014-06-05 00:00:00: [2529, 2757, 2827, 7545], 2014-06-06 00:00:00: [1867, 2717, 2800, 8061], 2014-06-09 00:00:00: [1196, 2452, 2555, 2631, 2654, 2679, 2702, 2718, 2772, 2793, 3100, 3111, 6021, 7041, 7621, 8821, 9906], 2014-06-10 00:00:00: [1253, 2710, 8407], 2014-06-11 00:00:00: [1124, 1641, 2547, 2980, 6274, 8206, 8435, 10960, 10967, 10993], 2014-06-12 00:00:00: [954, 2721, 2947, 5939, 7688, 7703, 9013, 9207], 2014-06-13 00:00:00: [3043, 3122, 3180, 6194, 7604, 7633, 7693, 9286], 2014-06-14 00:00:00: [7086, 7406], 2014-06-15 00:00:00: [10920], 2014-06-16 00:00:00: [2551, 2568, 2573, 2748, 2752, 2771, 5080, 6020, 7551, 7556, 8036, 8048, 8471, 8613, 9142, 10924, 10996], 2014-06-17 00:00:00: [2446, 2473, 2504, 5123, 5434, 5964, 6639, 7332, 7811], 2014-06-18 00:00:00: [2496, 3037, 6435, 6475, 7403, 7612, 7692, 7717, 8307, 8617, 8668, 9194, 9957], 2014-06-19 00:00:00: [2513, 3613, 4643, 5224, 6636, 6703, 6995, 6997, 7275, 7276, 7384, 7536, 7547, 7580, 7597, 7923, 7993, 8503, 10923, 10929], 2014-06-20 00:00:00: [2887, 2944, 4859, 6527, 7549, 7558, 7582, 7663, 7908, 7995, 9127, 9358, 11048], 2014-06-21 00:00:00: [7670], 2014-06-23 00:00:00: [2570, 2662, 2688, 2723, 2879, 3048, 4126, 4195, 5130, 5193, 5392, 6035, 6365, 6898, 8583, 9959], ...}

In [24]:
type(result.groups)

pandas.io.formats.printing.PrettyDict

In [25]:
result = detroit_demolitions.value_counts('demolition_date')
result

demolition_date
2014-07-30    60
2014-08-06    57
2016-06-20    55
2014-09-03    50
2014-09-08    50
              ..
2017-05-26     1
2014-07-12     1
2016-01-09     1
2017-01-30     1
2014-01-02     1
Length: 954, dtype: int64

In [26]:
result = detroit_demolitions.groupby('contractor_name')
result.groups['MCM']

Int64Index([    0,    51,    64,    73,    79,    81,   190,   210,   212,
              295,
            ...
            11759, 11784, 11785, 11790, 11801, 11806, 11823, 11824, 11826,
            11876],
           dtype='int64', length=334)

In [27]:
result=detroit_demolitions[detroit_demolitions['demolition_date']=='2014-08-07'].groupby('contractor_name')
result.size()

contractor_name
Able Demolition                      1
Adamo Group, Inc.                   12
Blue Star                            3
Brown Environmental Construction     2
DMC Consultants                      5
Homrich                             10
MCM                                 15
dtype: int64

In [28]:
result.size()['MCM']

15

In [29]:
result = detroit_demolitions[detroit_demolitions['demolition_date'] == '2014-08-07'].groupby(detroit_demolitions['contractor_name'] =='MCM')
print(result.size())
result['demolition_date'].value_counts()[1]

contractor_name
False    33
True     15
dtype: int64

demolition_date
2014-08-07    15
Name: demolition_date, dtype: int64

In [30]:
result = detroit_demolitions[detroit_demolitions['contractor_name'] =='MCM'].groupby(detroit_demolitions['demolition_date'] == '2014-08-07')
print(result.size())
result['demolition_date'].value_counts()[1]

demolition_date
False    319
True      15
dtype: int64

demolition_date
2014-08-07    15
Name: demolition_date, dtype: int64