<a href="https://colab.research.google.com/github/ChitraChaudhari/GC_DataEngineering_Bootcamp/blob/main/EDA/Pandas_Dataframe_Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dataframes - Exercise 1

Find the average, min and std age from the age column by applying appropriate functions on the age column values on the dataframe object

In [1]:
import pandas as pd
df = pd.DataFrame({
                'student marks': [70, 66, 100, 88, 35, 30, 66, 78, 90, 100, 60, 65], 
                'age': [29, 32, 31, 28, 28, 27, 26, 30, 33, 31, 29, 30 ],
                'ssn': ['123', '234', '345', '456', '567', '678', '789', '890', '901', '902', '903', '904' ]
                })

average_age = df.age.mean()
min_age = df.age.min()
age_std = df.age.std()

In [2]:
#TestCase
assert(average_age == 29.5)
assert(min_age == 26)
assert(age_std == 2.0670576365276494)
print("Test passed!")

Test passed!

## Problem 2

Change the index of the above dataframe to 'ssn' column. And ensure that the original 'df' reflects that change

In [3]:
# Your code goes here
df.set_index('ssn',inplace=True)

In [4]:
#TestCase
assert(df.index.name == 'ssn')
assert('ssn' not in df.columns)
print("Test passed!")

Test passed!

## Problem 3

Get the row that has the minimum marks

Hint: idxmin() method works on Series object also.

In [5]:
df

     student marks  age
ssn
123             70   29
234             66   32
345            100   31
456             88   28
567             35   28
678             30   27
789             66   26
890             78   30
901             90   33
902            100   31
903             60   29
904             65   30

In [6]:
mixrow =df.loc[df.idxmin()[0]]

mixrow = df.loc[df['student marks'].idxmin()]
mixrow

student marks    30
age              27
Name: 678, dtype: int64

In [7]:
#TestCase
pd.testing.assert_series_equal(mixrow, pd.Series([30,27], index=['student marks', 'age'], name='678'))
print("Test passed!")

Test passed!

##Problem 4

Get the 3 highest marks - only values

In [8]:
#highest_marks = df.nlargest(3,['student marks'])['student marks']
highest_marks = df['student marks'].nlargest(3)
print(highest_marks)

highest_marks

ssn
345    100
902    100
901     90
Name: student marks, dtype: int64

ssn
345    100
902    100
901     90
Name: student marks, dtype: int64

In [9]:
#TestCase
expected = pd.Series([100, 100, 90], index=['345', '902', '901'], name='student marks')
expected.rename_axis('ssn', inplace=True)
pd.testing.assert_series_equal(highest_marks, expected)
print("Test passed!")

Test passed!

## Problem 5
Get the complete rows of the 3 highest marks

In [10]:
highest_marks_rows = df.nlargest(3,['student marks','age'])
highest_marks

ssn
345    100
902    100
901     90
Name: student marks, dtype: int64

In [11]:
#TestCase
expected = pd.DataFrame({'student marks':[100, 100, 90], 'age':[31, 31, 33]}, index=['345', '902', '901'])
expected.rename_axis('ssn', inplace=True)
pd.testing.assert_frame_equal(highest_marks_rows, expected)
print("Test passed!")

Test passed!