<a href="https://colab.research.google.com/github/ChitraChaudhari/GC_DataEngineering_Bootcamp/blob/main/EDA/Pandas_Series_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas Exercise

## Problem 1

Sort the values of the given series without creating another series.

In [1]:
import pandas as pd

a = pd.Series([10, 2, 65, 35, 64])
a.sort_values( inplace=True)

a

1     2
0    10
3    35
4    64
2    65
dtype: int64

In [2]:
#TestCase
expected = pd.Series([2, 10, 35, 64, 65], index=[1, 0, 3, 4, 2])
pd.testing.assert_series_equal(a, expected)
score = 2.5
print("Test passed!")

Test passed!

##Problem 2

Generate a new series 'b' object that has same content as the given series 'a' except its index is sorted

In [3]:
a = pd.Series([10, 2, 65, 35, 64], index=[10, 5, 1, 6, 3])
b = a.sort_index()
b

1     65
3     64
5      2
6     35
10    10
dtype: int64

In [4]:
#TestCase
expected = pd.Series([65, 64, 2, 35, 10], index=[1, 3, 5, 6, 10])
pd.testing.assert_series_equal(b, expected)
score = 5
print("Test passed!")

Test passed!

In [5]:
a

10    10
5      2
1     65
6     35
3     64
dtype: int64

#Problem 3

Get the 3 highest top scores of list 'a' which contains the math scores of a high school class, by constructing a suitable Pandas structures to find it. Do not use loops

In [6]:
a = [45, 99, 35, 55, 80, 78, 98, 68]
top_scores = pd.Series(a).nlargest(3)
top_scores

1    99
6    98
4    80
dtype: int64

In [7]:
#TestCase
expected = pd.Series([99, 98, 80], index=[1, 6, 4])
pd.testing.assert_series_equal(top_scores, expected)
score = 7.5
print("Test passed!")

Test passed!

#Problem 4

Convert each element of the given series by creating a tuple of the word and its corresponding length by using a map function and place the resulting series in the variable 'b'

In [8]:
a = pd.Series(['lemon', 'tomato', 'grapes', 'oranges'])
b = a.map(lambda word:(word,len(word)))
b

0      (lemon, 5)
1     (tomato, 6)
2     (grapes, 6)
3    (oranges, 7)
dtype: object

In [9]:
#TestCase
expected = pd.Series([('lemon', 5), ('tomato', 6), ('grapes', 6), ('oranges', 7)])
pd.testing.assert_series_equal(b, expected)
score = 10
print("Test passed!", " Your total score is", score)

Test passed!  Your total score is 10