In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [3]:
df = spark.read.csv('50_Startups.csv',header=True,inferSchema=True)
df.show()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|            0.0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [6]:
## Filter Operations

df.filter('Profit<=100000').show()

+---------+--------------+---------------+----------+--------+
|R&D Spend|Administration|Marketing Spend|     State|  Profit|
+---------+--------------+---------------+----------+--------+
| 61994.48|     115641.28|       91131.24|   Florida|99937.59|
| 61136.38|     152701.92|       88218.23|  New York|97483.56|
| 63408.86|     129219.61|       46085.25|California|97427.84|
| 55493.95|     103057.49|      214634.81|   Florida|96778.92|
| 46426.07|     157693.92|      210797.67|California| 96712.8|
| 46014.02|      85047.44|      205517.64|  New York|96479.51|
| 28663.76|     127056.21|      201126.82|   Florida|90708.19|
| 44069.95|      51283.14|      197029.42|California|89949.14|
| 20229.59|      65947.93|       185265.1|  New York|81229.06|
| 38558.51|      82982.09|       174999.3|California|81005.76|
| 28754.33|     118546.05|      172795.67|California|78239.91|
| 27892.92|      84710.77|      164470.71|   Florida|77798.83|
| 23640.93|      96189.63|      148001.11|California|71498.49|
| 15505.73|      127382.3|       35534.17|  New York|69758.98|
| 22177.74|     154806.14|       28334.72|California|65200.33|
|  1000.23|     124153.04|        1903.93|  New York|64926.08|
|  1315.46|     115816.21|      297114.46|   Florida|49490.75|
|      0.0|     135426.92|            0.0|California|42559.73|
|   542.05|      51743.15|            0.0|  New York|35673.41|
|      0.0|      116983.8|       45173.06|California| 14681.4|
+---------+--------------+---------------+----------+--------+

In [9]:
df.filter('Profit<=100000').select(['State','R&D Spend','Profit']).show()

+----------+---------+--------+
|     State|R&D Spend|  Profit|
+----------+---------+--------+
|   Florida| 61994.48|99937.59|
|  New York| 61136.38|97483.56|
|California| 63408.86|97427.84|
|   Florida| 55493.95|96778.92|
|California| 46426.07| 96712.8|
|  New York| 46014.02|96479.51|
|   Florida| 28663.76|90708.19|
|California| 44069.95|89949.14|
|  New York| 20229.59|81229.06|
|California| 38558.51|81005.76|
|California| 28754.33|78239.91|
|   Florida| 27892.92|77798.83|
|California| 23640.93|71498.49|
|  New York| 15505.73|69758.98|
|California| 22177.74|65200.33|
|  New York|  1000.23|64926.08|
|   Florida|  1315.46|49490.75|
|California|      0.0|42559.73|
|  New York|   542.05|35673.41|
|California|      0.0| 14681.4|
+----------+---------+--------+

In [10]:
df.filter((df['Profit']<=100000) & (df['State']=='California')).show()

+---------+--------------+---------------+----------+--------+
|R&D Spend|Administration|Marketing Spend|     State|  Profit|
+---------+--------------+---------------+----------+--------+
| 63408.86|     129219.61|       46085.25|California|97427.84|
| 46426.07|     157693.92|      210797.67|California| 96712.8|
| 44069.95|      51283.14|      197029.42|California|89949.14|
| 38558.51|      82982.09|       174999.3|California|81005.76|
| 28754.33|     118546.05|      172795.67|California|78239.91|
| 23640.93|      96189.63|      148001.11|California|71498.49|
| 22177.74|     154806.14|       28334.72|California|65200.33|
|      0.0|     135426.92|            0.0|California|42559.73|
|      0.0|      116983.8|       45173.06|California| 14681.4|
+---------+--------------+---------------+----------+--------+

In [11]:
df.filter((df['Profit']<=100000) & (df['State']!='California')).show()

+---------+--------------+---------------+--------+--------+
|R&D Spend|Administration|Marketing Spend|   State|  Profit|
+---------+--------------+---------------+--------+--------+
| 61994.48|     115641.28|       91131.24| Florida|99937.59|
| 61136.38|     152701.92|       88218.23|New York|97483.56|
| 55493.95|     103057.49|      214634.81| Florida|96778.92|
| 46014.02|      85047.44|      205517.64|New York|96479.51|
| 28663.76|     127056.21|      201126.82| Florida|90708.19|
| 20229.59|      65947.93|       185265.1|New York|81229.06|
| 27892.92|      84710.77|      164470.71| Florida|77798.83|
| 15505.73|      127382.3|       35534.17|New York|69758.98|
|  1000.23|     124153.04|        1903.93|New York|64926.08|
|  1315.46|     115816.21|      297114.46| Florida|49490.75|
|   542.05|      51743.15|            0.0|New York|35673.41|
+---------+--------------+---------------+--------+--------+

In [12]:
df.filter(~(df['State']=='California')).show()

+---------+--------------+---------------+--------+---------+
|R&D Spend|Administration|Marketing Spend|   State|   Profit|
+---------+--------------+---------------+--------+---------+
| 165349.2|      136897.8|       471784.1|New York|192261.83|
|153441.51|     101145.55|      407934.54| Florida|191050.39|
|144372.41|     118671.85|      383199.62|New York|182901.99|
|142107.34|      91391.77|      366168.42| Florida|166187.94|
| 131876.9|      99814.71|      362861.36|New York|156991.12|
|130298.13|     145530.06|      323876.68| Florida| 155752.6|
|120542.52|     148718.95|      311613.29|New York|152211.77|
|101913.08|     110594.11|      229160.95| Florida|146121.95|
| 93863.75|     127320.38|      249839.44| Florida|141585.52|
|119943.24|     156547.42|      256512.92| Florida|132602.65|
|114523.61|     122616.84|      261776.23|New York|129917.04|
| 94657.16|     145077.58|      282574.31|New York|125370.37|
| 91749.16|     114175.79|      294919.57| Florida| 124266.9|
|  86419.7|     153514.11|            0.0|New York|122776.86|
| 78389.47|     153773.43|      299737.29|New York|111313.02|
| 73994.56|     122782.75|      303319.26| Florida|110352.25|
| 67532.53|     105751.03|      304768.73| Florida|108733.99|
| 77044.01|      99281.34|      140574.81|New York|108552.04|
| 75328.87|     144135.98|      134050.07| Florida|105733.54|
|  72107.6|     127864.55|      353183.81|New York|105008.31|
+---------+--------------+---------------+--------+---------+
only showing top 20 rows

In [14]:
df.filter((df['State']=='California')).count()

17

# GroupBy And Aggregate

In [15]:
df = spark.read.csv('test2.csv',header=True,inferSchema=True)
df.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|Sudhanshu|Data Science| 10000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|         IOT| 10000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|Sudhanshu|    Big Data|  2000|
+---------+------------+------+

In [17]:
df.groupBy('Name')

In [18]:
df.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      22000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [20]:
df.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      12000|
|Data Science|      33000|
+------------+-----------+

In [21]:
df.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3000.0|
|Data Science|     8250.0|
+------------+-----------+

In [22]:
df.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [23]:
df.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|Sudhanshu|       2000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+

In [24]:
df.groupBy('Name').avg().show()

+---------+-----------------+
|     Name|      avg(Salary)|
+---------+-----------------+
|Sudhanshu|7333.333333333333|
|    Sunny|           6000.0|
|    Krish|6333.333333333333|
|   Mahesh|           3500.0|
+---------+-----------------+