<a href="https://colab.research.google.com/github/ChitraChaudhari/GC_DataEngineering_Bootcamp/blob/main/Chapter_1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Permission to copy this copyrighted document is given only to Mobi Boot Camp Corp., students*

---
<!-- &#169; 2021, Mobi Boot Camp Corp, all rights reserved  -->
# Please Copy this file by selecting 'File-->Save a Copy in Drive' from the top menu bar, and then start working on these problems. You cannot edit this file as it is a READ-ONLY file. 

###When you make a copy, you will be able to run the copied file through your account. You can also code your answers in the respective code cells and run the program

## DO NOT CHANGE THE TESTCASE CODE CELL

---

#First Chapter Exercises

#Problem 1
Fix the below code blocks and explain what was wrong

In [3]:
# Trying to assign a String value to variable name
name = "Joe"

In [1]:
# Trying to declare a variable name and assign a literal value
my_variable = 10

In [2]:
# trying to assign two variables and assign String values to them
first_name = 'John'
last_name = "Doe"

#Problem 2
The below sentence spans multiple lines. Fix the code to make it work

In [4]:
long_sentence = '''this sentence is too long to go in one line. 
                   blah blah blah  blah .  blah . 
                   blah blah blah blah  blah .  blah .  
                   blah blah blah blah  blah .  blah .  
                   blah blah blah blah '''
print(long_sentence)

this sentence is too long to go in one line.
                   blah blah blah  blah .  blah .
                   blah blah blah blah  blah .  blah .
                   blah blah blah blah  blah .  blah .
                   blah blah blah blah

#Problem 3
Write code to find the data type of the variable long_sentence used in the previous Problem 3

In [5]:
# Your code goes here
type(long_sentence)

str

# Problem 4 
Write a program to 
receive two decimal point numbers from the user. Multiply the numbers and show the result as the program output

For e.g., if the user input 3.5 and 4.5, the output should be 15.75. 

**Note:** Do not assign the given example values into variables to form your solution

In [6]:
# Your program goes here
print(float(input("Enter first decimal number")) * float(input("Enter second decimal number")))

Enter first decimal number3.5
Enter second decimal number4.5
15.75

# Problem 5
Fix the program

The intent of this program is to find the mean (average) of all the numbers. However the expression is evaluating incorrectly. Please fix the expression

In [7]:
a = 10
b = 20
c = 30

mean = (a+b+c)/3
print(mean)

20.0

In [8]:
#TestCase 
assert ( mean == 20)
print("Test passed!")

Test passed!

# Problem 6

The below program is partially written. The age of a person is given in months. You have to write a program in which the 'years' contain the year part of the age and 'months' has the month part of the age. 

**Hint:** You have to use one or more of the arithmetic operators on the given 'age' variable to find the answers for this question. Which one will you use?

In [11]:
age = 220
years = age//12
months = age%12
print("years =", years , "\nmonths =", months)

years = 18
months = 4

In [ ]:
#TestCase
assert (years == 18)
assert (months == 4)
print("Test passed!")