<a href="https://colab.research.google.com/github/ChitraChaudhari/GC_DataEngineering_Bootcamp/blob/main/Python/Control_statements_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# *Permission to copy this copyrighted document is given only to Mobi Boot Camp Corp., students*

---
<!-- &#169; 2021, Mobi Boot Camp Corp, all rights reserved  -->

# Please Copy this file by selecting 'File-->Save a Copy in Drive' from the top menu bar, and then start working on these problems. You cannot edit this file as it is a READ-ONLY file. 

###When you make a copy, you will be able to run the copied file through your account. You can also code your answers in the respective code cells and run the program

---
#Control Statements
Solve the below problems. Once you solve, run the assert statements (if any) in the next cell and make them pass

# Problem 1

The below program will print all the states and when the state is michigan, it also prints out Home state. However currently it does not compile. Please fix the compilation errors. The output of this program should be

michigan -- Home State,ohio,indiana,

In [17]:
states = ["michigan", "ohio", "indiana"]
for x in states:
  if x == "michigan":
    print(x,"Home State", sep=' -- ', end=",")
  else:
    print(x, end=",")

michigan -- Home State,ohio,indiana,

#Problem 2
The sum of all even numbers below 10 is 2+4+6+8 = 20

Find the sum of all even numbers below 100. Write a program with a 'for' or 'while' loop to solve this problem.

In [18]:
total = 0  # update this sum variable in your program

for num in range(1,100):
  if(num%2==0):
    total+=num
total

2450

In [19]:
total = 0
for x in range(0,100,2):
  total = total + x
print(total)

2450

In [20]:
# TestCase
assert (total == 2450)
print("Test passed!")

Test passed!

# Problem 3

Split the given String at the semicolon (;) separator and add the words that start with the character 'a' to the given list

In [21]:
a = "almonds;peaches;bananas;apples;oranges;apricots"
a_list = [word for word in a.split(';') if word[0]=='a']  # add all the words starting with 'a' to this list
# Your code here
a_list

['almonds', 'apples', 'apricots']

In [22]:
#TestCase
assert (a_list == ['almonds', 'apples', 'apricots'])
print("Test passed!")

Test passed!

# Problem 4

Find all the words which are palindrome in the given set of words. A palindrome is a word, which reads the same both forward and backward. E.g., 'madam' is a palidrome. If you reverse the alphabets, starting from the end on 'madam' you still get 'madam'. 

If a word is a palindrome, irrespective of its case, collect that in another set called 'palindrome'. In other words your program should not be case sensitive. It has to identify the palindrome even if the word has mixed upper and lower case letters

In [23]:
words = {'maDam', 'kIng', 'ANna', 'kayak', 'levels', 'dad', 'morning'}
palindrome = set()

for word in words:
  reverse_word = word[::-1]
  if(word.lower()==reverse_word.lower()):
    palindrome.add(word)

print(palindrome)

{'dad', 'maDam', 'ANna', 'kayak'}

In [24]:
#another way
for word in words:
  if word.lower() == "".join(reversed(word)).lower():
    print(word)

ANna
kayak
dad
maDam

In [25]:
#TestCase
assert (palindrome == {'dad', 'maDam', 'kayak', 'ANna'})
print("Test passed!")

Test passed!

#Problem 5

Replace all the words which contain 'an' with 'bn'. If the word is 'anna' then it gets changed to 'bnna'. If the word is 'banana' then it gets encoded to 'bbnbnas'. Words which do not have 'an' substring in them will be added as-is without any changes

In [26]:
a = ['almonds','peaches', 'bananas', 'apples', 'oranges', 'apricots']
encoded = []

for word in a:
  #if('an' in word):
    encoded.append(word.replace('an','bn'))
  #else:
   # encoded.append(word)

print(encoded)

['almonds', 'peaches', 'bbnbnas', 'apples', 'orbnges', 'apricots']

In [27]:
#TestCase
assert (encoded == ['almonds', 'peaches', 'bbnbnas', 'apples', 'orbnges', 'apricots'])
print("Test passed!")

Test passed!