<a href="https://colab.research.google.com/github/ChitraChaudhari/GC_DataEngineering_Bootcamp/blob/main/Ordered_Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Permission to copy this copyrighted document is given only to Mobi Boot Camp Corp., students*

---
<!-- &#169; 2021, Mobi Boot Camp Corp, all rights reserved  -->
# Please Copy this file by selecting 'File-->Save a Copy in Drive' from the top menu bar, and then start working on these problems. You cannot edit this file as it is a READ-ONLY file. 

###When you make a copy, you will be able to run the copied file through your account. You can also code your answers in the respective code cells and run the program


---



#Ordered Collection
Solve the below problems. Once you solve, run the assert statements in the next cell and make them pass

#Problem 1
Assign the my_list variable with a **list** object containing the elements of my_tuple. 

**Note,** you have to use the tuple object to create your list. Then add 10 as the first element of the list. 

Hint: Use the 'list' function

In [ ]:
my_tuple = (3, 4, 5)
my_list = list(my_tuple)
my_list.insert(0,10)

In [ ]:
#TestCase
assert(my_list == [10, 3, 4, 5])
print("Test passed!")

Test passed!

# Problem 2 
Remove the element 'dog' from list2 below

In [ ]:
list2 = ['cat', 'dog', 'fish', 'elephant']
list2.remove('dog')

In [ ]:
#TestCase
assert(list2 == ['cat', 'fish', 'elephant'])
print("Test Passed!")

Test Passed!

# Problem 3
Write two ways to get the first two elements of the tuple using slicing functionality.
Assign the sliced result into variables actual3_1 and actual3_2

In [ ]:
tuple3 = (10, 20, 30, 40)
actual3_1 = tuple3[:-2]
actual3_2 = tuple3[-4:-2]
print(actual3_1)

(10, 20)

In [ ]:
#TestCase
expected_output3 = (10, 20)
assert ( actual3_1 == expected_output3)
assert( actual3_2 == expected_output3)
print("Test Passed!")

Test Passed!

# Problem 4 
Reverse the elements of the tuple using slicing and place the new tuple in variable 'actual4'

In [ ]:
tuple4 = ('usa', 'canada', 'mexico')
actual4 = tuple4[::-1]
tuple5 = reversed(tuple4)
print(list(tuple5))

['mexico', 'canada', 'usa']

In [ ]:
#TestCase
expected_output4 = ('mexico', 'canada', 'usa')
assert(actual4 == expected_output4)
print("Test Passed!")

Test Passed!

# Problem 5
You constructed a list with a few letters and numbers but it is giving you an error. Fix the issue

In [ ]:
a = ['b', 10,'c', 20, 'd', 50]