<a href="https://colab.research.google.com/github/ChitraChaudhari/GC_DataEngineering_Bootcamp/blob/main/Python/python_loops_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in mylist:
  if num%2 == 0:
    print(num)

2
4
6
8
10

In [ ]:
sum =0
for num in mylist:
  sum += num

print(sum)

55

In [ ]:
mylist = [(1,2),(3,4),(5,6),(7,8),(9,10)]

for item in mylist:
  print(item)

for a,b in mylist:
  print(a)
  print(b)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)
1
2
3
4
5
6
7
8
9
10

In [ ]:
mydict = {'k1':1,'k2':2, 'k3':3}

for item in mydict:
  print(item)

k1
k2
k3

In [ ]:
for item in mydict.items():
  print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
for key,value in mydict.items():
  print(value)

1
2
3

In [ ]:
for value in mydict.values():
  print(value)

1
2
3

In [ ]:
for letter in 'Hello World'.split(' '):
  print(letter)

Hello
World

In [ ]:
x = 0

while x<5:
  print(f'the value of x is {x}')
  x += 1
else:
  print('x is not less than 5')

the value of x is 0
the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4
x is not less than 5

# **Break Continue Pass**
- **Break:** Breaks out the current closest enclosing loop
- **Continue:** Goes to the top of the closest enclosing loop
- **Pass:** Does nothing at all

# **List Comprehension**

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
mystring = 'hello'

mylist = []

for letter in mystring:
  mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o']

In [ ]:
#with list comprehension
mystring = 'Hello world'

mylist = [letter for letter in mystring.split(' ')]

mylist

['Hello', 'world']

In [ ]:
mynumlist = [num for num in range(0,11)]
mynumlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
mynumlist = [num**2 for num in range(0,11)]
mynumlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
mynumlist = [num for num in range(0,11) if num%2 == 0]
mynumlist

[0, 2, 4, 6, 8, 10]

In [ ]:
celcius = [0,10,20,34.5]

farenhite= [((9/5)*temp +32) for temp in celcius]
farenhite

[32.0, 50.0, 68.0, 94.1]

In [ ]:
#list comprehension with if else

result = [x if x%2==0 else 'ODD' for x in range(0,11)]
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [ ]:
combs = []
for x in [1,2,3]:
  for y in [3,1,4]:
    if x != y:
      combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
revlist = [x for x in reversed(range(1,11,2))]
revlist

[9, 7, 5, 3, 1]

In [ ]:
# Statements assesment

In [ ]:
# Use for, .split(), and if to create a Statement that will print out words that start with 's':
st = 'Print only the words that start with s in this sentence'

for word in st.split(' '):
  if(word[0] == 's'):
    print(word)

start
s
sentence

In [ ]:
# Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

mylist = [num for num in range(1,50) if num%3==0]
print(mylist)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
#Go through the string below and if the length of a word is even print "even!"
st = 'Print every word in this sentence that has an even number of letters'

for word in st.split(' '):
  if(len(word)%2==0):
    print(word)

word
in
this
sentence
that
an
even
number
of

In [ ]:
# Write a program that prints the integers from 1 to 100. 
# But for multiples of three print "Fizz" instead of the number, 
# and for the multiples of five print "Buzz". 
# For numbers which are multiples of both three and five print "FizzBuzz".

for num in range(1,100):
  if(num%3==0 and num%5==0):
    print('FizzBuzz')
  elif num%3==0:
    print('Fizz')
  elif num%5==0:
    print('Buzz')
  else:
     print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [ ]:
#Use List Comprehension to create a list of the first letters of every word in the string below:
st = 'Create a list of the first letters of every word in this string'

mylist = [word[0] for word in st.split(' ')]
print(mylist)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [ ]:
my_list = [num for num in range(1,10,2)]
my_list

[1, 3, 5, 7, 9]

In [ ]:
names = ['jimmy', 'john', 'sue', 'foo', 'bar']

char_list = []

for word in names:
  char_list.append(len(word))

print(char_list)

[5, 4, 3, 3, 3]

In [ ]:
char_list = [(word,len(word)) for word in names]
print(char_list)

[('jimmy', 5), ('john', 4), ('sue', 3), ('foo', 3), ('bar', 3)]