In [2]:
import psycopg2
import pandas as pd

host=localhost port=5433 dbname=postgres user=postgres password=xxxxxxx sslmode=prefer

In [3]:
DB_NAME = "postgres"
DB_USER = "postgres"
DB_PASS = "password"
DB_HOST = "localhost"
DB_PORT = "5433"

try:
    conn = psycopg2.connect(database = DB_NAME,
                           user = DB_USER,
                           host = DB_HOST,
                           password = DB_PASS,
                           port = DB_PORT)
    print("Database connected successfully")
except:
    print("I am not able to connect to the database")

Database connected successfully

In [4]:
# check if table 'employee' exists
query = "SELECT to_regclass('public.employee')"
employee_table = pd.read_sql(query, conn)

if employee_table.iloc[0,0] == None:
    print("Table 'employee' does not exist in the database")
else:
    # If the table exists, drop it
    print("Dropping table 'employee'")
    cur = conn.cursor()
    cur.execute("DROP TABLE employee")
    conn.commit()
    cur.close()

Table 'employee' does not exist in the database

C:\Users\chitr\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
#List all table names in database

In [5]:
sql_query = '''
            SELECT table_name
            FROM information_schema.tables
            WHERE table_schema = 'public'
            ORDER BY table_name
            '''

data = pd.read_sql_query(sql_query, conn)
data.head()

C:\Users\chitr\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

               table_name
0              categories
1  customer_customer_demo
2   customer_demographics
3               customers
4    employee_territories

In [6]:
cur = conn.cursor()

cur.execute("""
            CREATE TABLE Employee(
                ID INT PRIMARY KEY NOT NULL,
                NAME TEXT NOT NULL,
                EMAIL TEXT NOT NULL
            )
            """)

conn.commit()
print("Table created successfully")

Table created successfully

In [9]:
sql_query = '''
            SELECT table_name
            FROM information_schema.tables
            WHERE table_schema = 'public'
            ORDER BY table_name
            '''

data = pd.read_sql_query(sql_query, conn)
data.head()

C:\Users\chitr\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

               table_name
0              categories
1  customer_customer_demo
2   customer_demographics
3               customers
4                employee

In [10]:
sql_query = '''
            SELECT * FROM employee
            '''

data = pd.read_sql_query(sql_query, conn)
data.head()

C:\Users\chitr\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Empty DataFrame
Columns: [id, name, email]
Index: []

In [11]:
cur.execute("""
                INSERT INTO employee(ID,NAME,EMAIL) VALUES
                (1, 'Alan Walker', 'awalker@gmail.com'),
                (2, 'Steve Jobs', 'sjobs@gmail.com')
            """)

conn.commit()
print("Record inserted successfully")

Record inserted successfully

In [12]:
sql_query = '''
            SELECT * FROM employee
            '''

data = pd.read_sql_query(sql_query, conn)
data.head()

C:\Users\chitr\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id         name              email
0   1  Alan Walker  awalker@gmail.com
1   2   Steve Jobs    sjobs@gmail.com

In [13]:
cur.execute("""
    UPDATE employee SET EMAIL='updated@gmail.com'
    WHERE ID = 1
"""
)
conn.commit()

In [14]:
sql_query = '''
            SELECT * FROM employee
            '''

data = pd.read_sql_query(sql_query, conn)
data.head()

C:\Users\chitr\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id         name              email
0   2   Steve Jobs    sjobs@gmail.com
1   1  Alan Walker  updated@gmail.com