<a href="https://colab.research.google.com/github/ChitraChaudhari/GC_DataEngineering_Bootcamp/blob/main/Python/python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def say_hello(name='there'):
   print(f'Hello {name}!')

In [ ]:
say_hello('chitra')

Hello chitra!

In [ ]:
say_hello()

Hello there!

In [ ]:
def add_num(num1,num2):
  return num1+num2

In [ ]:
result = add_num(10,20)
result

30

In [ ]:
def check_even(num):
  if(num%2 == 0):
    return True
  
  return False

In [ ]:
check_even(5)

False

In [ ]:
check_even(1024)

True

In [ ]:
def check_even_list(num_list):
  even_numbers = []
  for num in num_list:
    if(num%2==0):
      even_numbers.append(num)
    else:
      pass
    
  return even_numbers

In [ ]:
check_even_list([11,3,6,3,97,54,67,8])

[6, 54, 8]

In [ ]:
work_hours = [('Abby',1000),('Billy',4000),('Cassie',800)]

In [ ]:
def employee_check(work_hours):
  current_max = 0
  employee_of_month = ''

  for employee,hours in work_hours:
    if hours > current_max:
      current_max = hours
      employee_of_month = employee
    else:
      pass

  return (employee_of_month,current_max)

In [ ]:
employee_check(work_hours)

('Billy', 4000)

In [ ]:
result = employee_check(work_hours)
result

('Billy', 4000)

In [ ]:
name,hours = employee_check(work_hours)
name

'Billy'

In [ ]:
hours

4000

In [ ]:
from random import shuffle

def shuffle_list(mylist):
  shuffle(mylist)
  return mylist

In [ ]:
def player_guess():
  guess = ''

  while guess not in ['0','1','2']:
    guess = input("pick a number: 0,1, or 2 ")

  return int(guess)

In [ ]:
def check_guess(mylist,guess):
  if mylist[guess] == 'O':
    print("Correct!")
  else:
    print("Wrong guess!")
    print(mylist)

In [ ]:
#Initial list
mylist = [' ','O',' ']
#Shuffle list
mixedup_list = shuffle_list(mylist)
#User guess
user_guess = player_guess()
#check guess
check_guess(mixedup_list,user_guess)

pick a number: 0,1, or 2 5
pick a number: 0,1, or 2 1
Wrong guess!
['O', ' ', ' ']

# **LESSER OF TWO EVENS:**

 Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2

lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
  if(a%2==0 and b%2==0):
    return a if a<b else b
  else:
    return a if a>b else b

In [ ]:
# Check
lesser_of_two_evens(2,4)

2

In [ ]:
lesser_of_two_evens(2,5)

5

# **ANIMAL CRACKERS:**
##Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [6]:
def animal_crackers(text):
    if len(text.split())==2:
      if(text[0]==text.split()[1][0]):
        return True
      else:
        return False
    else:
      print("Enter two word string only")

In [2]:
text = 'Crazy Kangaroo'
text.split()[1][0]
text[0]

'C'

In [7]:
# Check
animal_crackers('Levelheaded Llama')

True

In [8]:
# Check
animal_crackers('Crazy Kangaroo')

False

#**MAKES TWENTY:**
# Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [9]:
def makes_twenty(n1,n2):
  if(n1+n2==20 or n1==20 or n2==20):
    return True
  else:
    return False

In [10]:
# Check
makes_twenty(20,10)

True

In [11]:
# Check
makes_twenty(2,3)

False

In [12]:
makes_twenty(12,8)

True

#**OLD MACDONALD:**
#Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

In [30]:
def old_macdonald(name):
  if(len(name)>3):
    return name[:3].capitalize() + name[3:].capitalize()
  else:
    return "Name is too short!"

In [31]:
# Check
new_name=old_macdonald('macdonald')
new_name

'MacDonald'

#**MASTER YODA:**
#Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'

In [3]:
def master_yoda(text):
    text_list = text.split()
    text_list.reverse()
    new_sentence = " ".join(text_list)
    return new_sentence

In [5]:
# Check
master_yoda('I am home')

'home am I'

In [4]:
# Check
master_yoda('We are ready')

'ready are We'

In [45]:
text = 'chitra kiran'
new_text = text.split()
new_text.reverse()
new_sentence = " ".join(new_text)
new_sentence

'kiran chitra'

#**ALMOST THERE:**

##Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

In [9]:
def almost_there(n):
  if(n>=90 and n<=110 or n>=190 and n<=210):
    return True
  else:
    return False

In [10]:
# Check
almost_there(104)

True

In [11]:
# Check
almost_there(150)

False

In [13]:
# Check
almost_there(2000)

False

#**FIND 33:**
##Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [30]:
def has_33(nums):
  teststr = ''
  for num in nums:
    teststr = teststr+str(num)
  
  if '33' in teststr:
    return True
  else:
    return False

In [31]:
# Check
has_33([1, 3, 3])

True

In [32]:
# Check
has_33([1, 3, 1, 3])

False

In [36]:
# Check
has_33([3, 1, 3])

False

#**PAPER DOLL:**
#Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [37]:
def paper_doll(text):
    newstr = ''
    for letter in text:
      newstr += 3*letter
    return newstr

In [38]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [39]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#**BLACKJACK:**
##Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [40]:
def blackjack(a,b,c):
  sum = a+b+c
  if(sum<=21):
    return sum
  elif(a==11 or b==11 or c==11):
    return sum-10
  else:
    return 'BUST'

In [41]:
# Check
blackjack(5,6,7)

18

In [42]:
# Check
blackjack(9,9,9)

'BUST'

In [43]:
# Check
blackjack(9,9,11)

19

#**SUMMER OF '69:**
##Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    pass

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

#**SPY GAME:**
#Write a function that takes in a list of integers and returns True if it contains 007 in order
 
 spy_game([1,2,4,0,0,7,5]) --> True

 spy_game([1,0,2,4,0,5,7]) --> True

 spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#**COUNT PRIMES:**
##Write a function that returns the number of prime numbers that exist up to and including a given number

count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

#**PRINT BIG:**
##Write a function that takes in a single letter, and returns a 5x5 representation of that letter

print_big('a')

out:

       *
      * *
     *****
     *   *
     *   *

HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.

For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')