<a href="https://colab.research.google.com/github/ChitraChaudhari/GC_DataEngineering_Bootcamp/blob/main/Python/Python_Function_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LESSER OF TWO EVENS:**

 Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2

lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
  if(a%2==0 and b%2==0):
    return a if a<b else b
  else:
    return a if a>b else b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
lesser_of_two_evens(2,5)

5

## Write a function that computes the volume of a sphere given its radius.

In [4]:
import math

In [5]:
def vol(rad):
  return (4*math.pi*(rad**3))/3

In [6]:
vol(2)

33.510321638291124

## Write a function that checks whether a number is in a given range (inclusive of high and low)

In [7]:
def ran_check(num,low,high):
  if num in range(low,high+1):
    return True
  return False

In [8]:
# Check
ran_check(5,2,7)

True

In [9]:
ran_check(5,2,5)

True

In [10]:
ran_check(10,2,7)

False

##Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'

Expected Output : 

No. of Upper case characters : 4

No. of Lower case Characters : 33

In [11]:
import string

def up_low(s):
    upper_count=0
    lower_count=0

    for word in s.split():
      for letter in word:
        if letter in string.ascii_letters :
         if letter.islower():
          lower_count+=1
         elif letter.upper():
          upper_count+=1

    print('Origenal String : {}'.format(s))
    print('No. of Upper case characters : {}'.format(upper_count))
    print('No. of Lower case characters : {}'.format(lower_count))

In [12]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Origenal String : Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters : 4
No. of Lower case characters : 33


##Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]

In [70]:
def unique_list(lst):
    return list(set(lst))

In [71]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

##Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]

Expected Output : -24

In [72]:
def multiply(numbers):  
    total=1
    for num in numbers:
      total*=num
    return total

In [73]:
multiply([1,2,3,-4])

-24

##Write a Python function that checks whether a word or phrase is palindrome or not.

In [17]:
sent = 'I am chitra'

sent = sent.replace(" ",'')

sent[::-1]

'artihcmaI'

In [18]:
def palindrome(s):
    if len(s.split()) > 1:
      s = s.replace(" ",'')

    if(s[::-1]==s):
      return True

    return False

In [19]:
palindrome('helleh')

True

In [20]:
palindrome("nurses run")

True

##Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.

For example : "The quick brown fox jumps over the lazy dog"

In [21]:
def ispangram(str1, alphabet=string.ascii_lowercase):
    for letter in alphabet:
      if letter not in str1:
        return False

    return True

In [22]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [23]:
ispangram("I am tired")

False

# **ANIMAL CRACKERS:**
##Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [24]:
def animal_crackers(text):
    if len(text.split())==2:
      if(text[0]==text.split()[1][0]):
        return True
      else:
        return False
    else:
      print("Enter two word string only")

In [25]:
text = 'Crazy Kangaroo'
text.split()[1][0]
text[0]

'C'

In [26]:
# Check
animal_crackers('Levelheaded Llama')

True

In [27]:
# Check
animal_crackers('Crazy Kangaroo')

False

#**MAKES TWENTY:**
# Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [28]:
def makes_twenty(n1,n2):
  if(n1+n2==20 or n1==20 or n2==20):
    return True
  else:
    return False

In [29]:
# Check
makes_twenty(20,10)

True

In [30]:
# Check
makes_twenty(2,3)

False

In [31]:
makes_twenty(12,8)

True

#**OLD MACDONALD:**
#Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

In [32]:
def old_macdonald(name):
  if(len(name)>3):
    return name[:3].capitalize() + name[3:].capitalize()
  else:
    return "Name is too short!"

In [33]:
# Check
new_name=old_macdonald('macdonald')
new_name

'MacDonald'

#**MASTER YODA:**
#Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'

In [34]:
def master_yoda(text):
    text_list = text.split()
    text_list.reverse()
    new_sentence = " ".join(text_list)
    return new_sentence

In [35]:
# Check
master_yoda('I am home')

'home am I'

In [36]:
# Check
master_yoda('We are ready')

'ready are We'

In [37]:
text = 'chitra kiran'
new_text = text.split()
new_text.reverse()
new_sentence = " ".join(new_text)
new_sentence

'kiran chitra'

#**ALMOST THERE:**

##Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

In [38]:
def almost_there(n):
  if(n>=90 and n<=110 or n>=190 and n<=210):
    return True
  else:
    return False

In [39]:
# Check
almost_there(104)

True

In [40]:
# Check
almost_there(150)

False

In [41]:
# Check
almost_there(2000)

False

#**FIND 33:**
##Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [42]:
def has_33(nums):
  teststr = ''
  for num in nums:
    teststr = teststr+str(num)
  
  if '33' in teststr:
    return True
  else:
    return False

In [43]:
# Check
has_33([1, 3, 3])

True

In [44]:
# Check
has_33([1, 3, 1, 3])

False

In [45]:
# Check
has_33([3, 1, 3])

False

#**PAPER DOLL:**
#Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [46]:
def paper_doll(text):
    newstr = ''
    for letter in text:
      newstr += 3*letter
    return newstr

In [47]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [48]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#**BLACKJACK:**
##Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [49]:
def blackjack(a,b,c):
  sum = a+b+c
  if(sum<=21):
    return sum
  elif(a==11 or b==11 or c==11):
    return sum-10
  else:
    return 'BUST'

In [50]:
# Check
blackjack(5,6,7)

18

In [51]:
# Check
blackjack(9,9,9)

'BUST'

In [52]:
# Check
blackjack(9,9,11)

19

#**SUMMER OF '69:**
##Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [53]:
def summer_69(arr):
    sum = 0
    add = True

    for num in arr:
      if num==6 and 9 in arr:
        add = False
      if num == 9:
        add = True
        continue
      if add:
        sum += num
      
    return sum

In [54]:
# Check
summer_69([1, 3, 5])

9

In [55]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [56]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [57]:
#alternate solution

def summer_69(arr):
    sum = 0
    add = True

    for num in arr:
      while add:
        if num!=6:
          sum += num
          break
        else:
          add = False
      while not add:
        if num!=9:
          break
        else:
          add = True
          break
    return sum

#**SPY GAME:**
#Write a function that takes in a list of integers and returns True if it contains 007 in order
 
 spy_game([1,2,4,0,0,7,5]) --> True

 spy_game([1,0,2,4,0,5,7]) --> True

 spy_game([1,7,2,0,4,5,0]) --> False

In [58]:
def spy_game(nums):
  code = [0,0,7,'x']

  for num in nums:
    if num==code[0]:
      code.pop(0)   

  return len(code)==1

In [59]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [60]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [61]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#**COUNT PRIMES:**
##Write a function that returns the number of prime numbers that exist up to and including a given number

count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [62]:
#check if number is prime?
def check_prime(num):
  if num>1:
    for i in range(2,num):
      if (num%i)==0:
        return False
        
  return True

In [63]:
check_prime(50)

False

In [64]:
def count_primes(num):
  primes_list = []
  if num<2:
    return 0
  
  for i in range(2,num+1):
    if check_prime(i):
      primes_list.append(i)
    
  print(primes_list)
  return len(primes_list)

In [65]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

#**PRINT BIG:**
##Write a function that takes in a single letter, and returns a 5x5 representation of that letter

print_big('a')

out:

       *
      * *
     *****
     *   *
     *   *

HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.

For purposes of this exercise, it's ok if your dictionary stops at "E".

In [66]:
def print_big(letter):
  patterns = {1:'*****',2:'**** ',3:'*     ',4:'  *  ',5:'*   *',6:' * * '}
  alphabet = {'A':[4,6,1,5,5],'B':[2,5,2,5,2],'C':[1,3,3,3,1],'D':[2,5,5,5,2],'E':[1,3,1,3,1]}

  for pattern in alphabet[letter.upper()]:
    print(patterns[pattern])

In [67]:
print_big('e')

*****
*
*****
*
*****

#**skyline**
## Define a function called myfunc that takes in a string and returns the matching string where every even letter is uppercase and every odd letter is lowercase. 

Assume that the incoming string only contains letters, and dont worry about numbers, spaces or punctuation

In [68]:
def myfunc(word):
  new_word = ''
  for index,letter in enumerate(word):
    if index%2==0:
      new_word+=letter.upper()
    else:
      new_word+=letter.lower()
  return new_word

In [69]:
myfunc('hotdog')

'HoTdOg'